#!/bin/bash
set -e

runcfg=/opt/vyatta/sbin/vyatta-cfg-cmd-wrapper

$runcfg begin

$runcfg set service dhcp-server \
    shared-network-name {{host.data.dhcp.shared_network_name}} \
    disable

$runcfg commit
$runcfg save
$runcfg end
