#cloud-config
# For a more complete set of keys, try the manual install in the GRUB menu
# first and then finish the installation manually then copy the file
# generated at /var/log/installer/autoinstall-user-data to here and
# customize to taste.
autoinstall:
  version: 1
  identity:
    hostname: {{machine.hostname}}
    password: "$6$exDY1mhS4KUYCE/2$zmn9ToZwTKLhCw.b4/b.ZRTIZM30JZ4QrOQ2aOXJ8yk96xpcCof0kxKwuX1kqLG/ygbJ1f8wxED22bTL4F46P0"
    username: ubuntu
  network:
    version: 2
    ethernets:
      eno1:
        dhcp4: false
        addresses:
        - {{machine.static_ip}}
        nameservers:
          addresses:
          - 192.168.86.1
        gateway4: 192.168.100.1
  ssh:
    allow-pw: false
    install-server: true
    disable-root: true
    authorized-keys:
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDSaDjzC7ODr2URU2K+5Gp6BhlONmK9LWHyFCcyNI2klseDWuMDyAdhFGuoc7VutyfJpCoc+RqRRVOoFN4oogYXZgDgFKH6zdXmMNSuu4OhgoCOfWmz6tF6WssgP6SsgJz8pT6LWsk5lg7hbuIxhWbhHZBhSJCTeymIEJT2HtgjK0/9o3Rw897UO/IuIqXhPpI3sKhI30dJcGho8JGw1UrGfHhmaJ9fW8oBAv+xhZ0vv6OdjZYroqI/iolFTbLkZ0Qd8xK78F9JQ1QoEl3hNbsMJqmbbtoy6Lha7wn+aiWHb0latcCDxQtFO/uCppPcTOQiwQ5R3rXKtC8/koj1aQxdezxq+izpkM4Aasrr9WlJxXt6ZnAUYuPCrGWy1FziEW1yDm54bhSCiM7MEESea5sKvHSkDwvbExeeV9y7uPkDltDQnxUZ+aKRejaxZLJbPsVV09FWZvJw5xSi0n633DRMvB6ZL+BXJy4sdyGdEJ6/rpVDdNXT958hfUjXl8dFWXBgqladUl91Bpjr4XqtWqiyzdjGrEPynTsvZYZHtfn9+WUFIavGJMiGB78Cv2YKxsHsRy+p36ihLgEHRqXcbNAEb0kzNufCBlmbtbKoYZ9Hp2Hhx3lvR9ZYzRiidh8vqFMMlUlZ+Zgw8S8r3ycHviGOsBQ9iPHWvWz3ZT4zaBHtFQ== for questions pls email mark.maglana@linux.com
  power_state:
    mode: reboot
    condition: True
