#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: {{machine.hostname}}
    password: "$6$exDY1mhS4KUYCE/2$zmn9ToZwTKLhCw.b4/b.ZRTIZM30JZ4QrOQ2aOXJ8yk96xpcCof0kxKwuX1kqLG/ygbJ1f8wxED22bTL4F46P0"
    username: ubuntu
  network:
    version: 2
    ethernets:
      eno1:
        dhcp4: false
        addresses:
        - {{machine.static_ip}}
        nameservers:
          addresses:
          - 192.168.86.1
        gateway4: 192.168.100.1
  power_state:
    mode: reboot
    condition: True
