#!/bin/bash
set -e

runcfg=/opt/vyatta/sbin/vyatta-cfg-cmd-wrapper

$runcfg begin

$runcfg delete service dhcp-server \
    shared-network-name pxe.lan \
    subnet 192.168.100.0/24

$runcfg set service dhcp-server \
    shared-network-name pxe.lan \
    subnet 192.168.100.0/24 \
    start 192.168.100.200 \
    stop 192.168.100.254

$runcfg set service dhcp-server \
    shared-network-name pxe.lan \
    subnet 192.168.100.0/24 \
    default-router 192.168.100.1

$runcfg set service dhcp-server \
    shared-network-name pxe.lan \
    subnet 192.168.100.0/24 \
    dns-server 192.168.86.1

$runcfg set service dhcp-server \
    shared-network-name pxe.lan \
    subnet 192.168.100.0/24 \
    bootfile-server 192.168.86.43

$runcfg set service dhcp-server \
    shared-network-name pxe.lan \
    subnet 192.168.100.0/24 \
    subnet-parameters "filename &quot;/pxe-boot/pxelinux.0&quot;;"

$runcfg set service dhcp-server \
    shared-network-name pxe.lan \
    subnet 192.168.100.0/24 \
    bootfile-name /pxe-boot/pxelinux.0

$runcfg commit
$runcfg save
$runcfg end
