default-lease-time 120;
max-lease-time 120;

subnet {{dhcp.subnet.network_address}} netmask {{dhcp.subnet.netmask}} {
    option routers             {{dhcp.router}};
    option subnet-mask         {{dhcp.subnet.netmask}};
    option domain-search       "pxe.lan";
    option domain-name-servers {{dhcp.dns_servers | join(', ')}};
    next-server                {{dhcp.tftp_server}};
    option bootfile-name       "pxelinux.0";

    {% for range in dhcp.ranges -%}
	range                      {{range.start}} {{range.end}};
    {%- endfor %}
}
