DEFAULT install
 LABEL install
 MENU LABEL ^Install Ubuntu for {{machine.hostname}} (auto)
 KERNEL vmlinuz
 INITRD initrd
 APPEND autoinstall ip=dhcp ds=nocloud-net;s=http://<IP_ADDRESS_SERVER>/ubuntu2004/autoinstall/test/ url=http://<IP_ADDRESS_SERVER>/ubuntu2004/ubuntu-20.04-live-server-amd64.iso
